<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <div class="container hero-list">
        <table class="table table-hover" style="width:500px; margin:0 auto">
            <tbody id="tbody">
                <tr>
                    <td style="width: 200px; text-align:right">id</td>
                    <td>{{id}}</td>
                </tr>
                <tr>
                    <td style="width: 200px; text-align:right">名称</td>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <td style="width: 200px; text-align:right">能力</td>
                    <td>{{nengli}}</td>
                </tr>
                <tr>
                    <td style="width: 200px; text-align:right">团体</td>
                    <td>{{jituan}}</td>
                </tr>
                <tr>
                    <td style="width: 200px; text-align:right">图片</td>
                    <td>{{if img}}<img src="../img/{{img}}" style="width: 300px">{{/if}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="./js/jquert-3.4.1.min.js"></script>
    <script>

    </script>
</body>

</html>